.advantages-section {
}

.advantages-bg-wrapper {
  @include media(desktop) {
  }
}

.advantages-bg-wrapper {
  padding-top: 48px;

  @include media(desktop) {
    padding-top: 64px;
  }
}

.advantages-container {
  padding: 0;

  @include media(desktop) {
  }
}

.advantages-title-wrapper {
  @include media(desktop) {
  }
}

.advantages-title {
  @include media(desktop) {
  }
}

.advantages-content-wrapper {
  @include media(desktop) {
  }
}

.advantages-text-wrapper {
  padding: 0 16px;
  margin-bottom: 32px;

  @include media(desktop) {
    padding: 0 120px;
    margin-bottom: 48px;
  }
}

.advantages-subtitle {
  @include media(desktop) {
  }
}

.advantages-text {
  font-family: 'Chiron GoRound TC', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #343945;

  @include media(desktop) {
  }
}

.advantages-text-br {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.advantages-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
