<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">Idea Behind the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="section-subtitle about-subtitle">
          A Puzzle Built on Simple Satisfaction
        </p>
        <p class="about-text">
          Fill the Piggy Bank started with a simple thought: what if organizing
          coins could feel like solving something meaningful?<br />
          It's not one of those crazy, fast-paced games. Just you, some coins,
          and figuring out where they go.<br class="about-text-br" />
          We kept it simple - no bells and whistles, just the satisfying
          challenge of making everything fit.<br class="about-text-br" />
          Each level is like a little puzzle where you've got to think it
          through but also trust your gut. You’re not just placing coins, you’re
          shaping a solution.
        </p>
      </div>
    </div>
  </div>
</section>
