<section class="section advantages-section" id="advantages">
  <div class="section-title-wrapper advantages-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title advantages-title">Why Players Stay</h2>
    </div>
  </div>
  <div class="advantages-bg-wrapper">
    <div class="container advantages-container">
      <div class="advantages-content-wrapper">
        <div class="advantages-text-wrapper">
          <p class="section-subtitle advantages-subtitle">
            It’s Not Just About Coins
          </p>
          <p class="advantages-text">
            I thought this'd be just another time-killer, but honestly? It kinda
            hooks you.<br />
            You begin to notice patterns faster. You rethink your first
            instinct. You pause before placing the next piece.<br
              class="advantages-text-br"
            />
            The game creates a rhythm — observe, try, adjust, solve. And once
            you get into that rhythm, it’s hard to stop.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/advantages/advantages-img-desk.jpg"
            media="(min-width: 1440px)"
            width="1440"
            height="534" />
          <source
            srcset="./img/advantages/advantages-img-mob.jpg"
            width="375"
            height="198" />
          <img
            class="advantages-img"
            src="./img/advantages/advantages-img-mob.jpg"
            alt="Screenshot of the game"
            width="375"
            height="198"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
