<section class="section cta-section" id="cta">
  <div class="section-title-wrapper cta-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title cta-title">Play now</h2>
    </div>
  </div>
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <p class="section-subtitle cta-subtitle">Start With One Coin</p>
        <p class="cta-text">
          You don’t need a long tutorial.<br class="cta-text-br" />
          You don’t need hours of time.<br />
          Just one level. One move. One decision.<br class="cta-text-br" />
          And suddenly, you’re already thinking about the next one.
        </p>
        <a
          class="hero-btn cta-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.GamerGage.FillthePiggyBank&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
          ><svg class="playstore-icon" width="195" height="44">
            <use href="./img/sprite.svg#icon-playstore"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
