<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gameplay-title">Gameplay Feel</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <p class="section-subtitle gameplay-subtitle">
            Calm, Focused, Surprisingly Addictive
          </p>
          <p class="gameplay-text">
            This isn’t a loud puzzle game. It doesn’t rush you. Instead, it
            builds tension in a quieter way — through limited space, careful
            placement, and the slow realization that one wrong move can block
            everything. And then, when it works — when everything aligns — it
            feels right.<br />
            It's weirdly addictive - stressful enough to keep you engaged but
            chill enough that you don't want to throw your phone.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.jpg"
            media="(min-width: 1440px)"
            width="1440"
            height="807" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.jpg"
            width="375"
            height="313" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.jpg"
            alt="Screenshot of the game"
            width="375"
            height="313"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
