<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            Fill the Piggy Bank<br />
            One Coin at a Time
          </h1>
          <p class="hero-subtitle">
            Stack, plan, and watch your piggy bank overflow
          </p>
          <p class="hero-text">
            There’s something quietly satisfying about placing the last coin
            exactly where it belongs. We turned that into Fill the Piggy Bank -
            it's a puzzle game where every little move actually matters way more
            than you'd think.<br class="hero-text-br" />
            At first, it feels simple. A few coins. A few slots. But then the
            space tightens, the sequence matters, and every move becomes part of
            a bigger solution.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.GamerGage.FillthePiggyBank&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="195" height="44">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
          <p class="hero-bottom-text">
            Version 0.1.3 · Updated Nov 22, 2025 · Android 5.1+ · 100+ downloads
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
