<section class="section info-section" id="info">
  <div class="section-title-wrapper info-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title info-title">Game Info</h2>
    </div>
  </div>
  <div class="info-bg-wrapper">
    <div class="container info-container">
      <p class="section-subtitle">Game Details</p>
      <p class="info-text">
        Designed as a lightweight, relaxing puzzle experience with a focus on
        clarity and satisfaction.
      </p>
      <div class="info-content-wrapper">
        <div class="info-img-wrapper">
          <picture>
            <source
              srcset="./img/info/info-img-desk.png"
              media="(min-width: 1440px)"
              width="116"
              height="116" />
            <source
              srcset="./img/info/info-img-mob.png"
              width="146"
              height="127" />
            <img
              class="info-img"
              src="./img/info/info-img-mob.png"
              alt="Screenshot of the game"
              width="146"
              height="127"
              loading="lazy"
          /></picture>
        </div>
        <p class="info-top-text">
          Game Name: Fill the Piggy Bank Puzzle<br />
          Version: 0.1.3<br />
          Updated: Nov 22, 2025
        </p>
        <p class="info-bottom-text">
          Android Requirement: 5.1 and up<br />
          Release: 2025<br />
          Downloads: 100+
        </p>
      </div>
    </div>
  </div>
</section>
