<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >Idea Behind the Game</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works">How It Works</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >Gameplay Feel</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#progression"
          >Level Progression</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features">Features</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#advantages"
          >Why Players Stay</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#info">Game Info</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#cta">Start Now</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
    </ul>
  </nav>
</div>
