<section class="section progression-section" id="progression">
  <div class="section-title-wrapper progression-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title progression-title">Level Progression</h2>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <p class="section-subtitle">Small Boards, Big Decisions</p>
      <p class="progression-text">
        Levels begin with simple layouts that help you understand the rules. But
        very quickly, the game starts to shift.<br
          class="progression-text-br"
        />
        More coins. Less space. Unexpected shapes. Tricky sequences.<br />
        You'll start seeing patterns, then realize they don't always work, then
        find even better ways to solve things.<br class="progression-text-br" />
        Every new level asks a slightly different question.
      </p>
      <div class="progression-content-wrapper">
        <img
          class="progression-img-desk"
          src="./img/progression/progression-img2-desk.png"
          alt="Screenshot of the game"
          width="196"
          height="348"
          loading="lazy"
        />
        <ul class="progression-list">
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Smart level variety</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Compact puzzle design</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Gradually increasing difficulty</p>
          </li>
          <li class="progression-list-item">
            <div class="progression-item-circle"></div>
            <p class="progression-item-text">Short but meaningful sessions</p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/progression/progression-img1-desk.png"
            media="(min-width: 1440px)"
            width="196"
            height="348" />
          <source
            srcset="./img/progression/progression-img1-mob.png"
            width="327"
            height="388" />
          <img
            class="progression-img"
            src="./img/progression/progression-img1-mob.png"
            alt="Screenshot of the game"
            width="327"
            height="388"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
