<section class="works-section section" id="works">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title works-title">How It Works</h2>
    </div>
  </div>
  <div class="works-bg-wrapper">
    <div class="container works-container">
      <p class="section-subtitle works-subtitle">
        Easy to Start, Subtle to Master
      </p>
      <div class="works-swiper-container">
        <ul class="swiper-wrapper works-swiper-wrapper">
          <li class="swiper-slide works-slide">
            <img
              class="works-item-img"
              src="./img/works/works-img1-mob.png"
              alt="Screenshot of the game"
              width="200"
              height="200"
              loading="lazy"
            />
            <h3 class="works-item-title">Drag and Place</h3>
            <p class="works-item-text">
              Move coins into position using simple tap and drag controls.
            </p>
          </li>
          <li class="swiper-slide works-slide">
            <img
              class="works-item-img"
              src="./img/works/works-img2-mob.png"
              alt="Screenshot of the game"
              width="200"
              height="200"
              loading="lazy"
            />
            <h3 class="works-item-title">Think Ahead</h3>
            <p class="works-item-text">
              Not every coin fits everywhere. Order matters.
            </p>
          </li>
          <li class="swiper-slide works-slide">
            <img
              class="works-item-img"
              src="./img/works/works-img3-mob.png"
              alt="Screenshot of the game"
              width="200"
              height="200"
              loading="lazy"
            />
            <h3 class="works-item-title">Fill the Space</h3>
            <p class="works-item-text">
              Use every slot efficiently to complete the piggy bank.
            </p>
          </li>
          <li class="swiper-slide works-slide">
            <img
              class="works-item-img"
              src="./img/works/works-img4-mob.png"
              alt="Screenshot of the game"
              width="200"
              height="200"
              loading="lazy"
            />
            <h3 class="works-item-title">Solve the Puzzle</h3>
            <p class="works-item-text">
              When everything fits — the level clicks into place.
            </p>
          </li>
        </ul>
        <p class="works-text">
          There’s always a solution.<br class="works-text-br" />
          The challenge is seeing it.
        </p>
      </div>
    </div>
  </div>
</section>
